/* @media screen and (min-width: 1px) { 

    input { 
        width: 300px;
    }

    button {
        width: 20px;
    }

    img {
        align-self: center;
    }

    .spain-1 {
        position: relative;
    }

    .spain-1__box {
        position: absolute;
        left: 0;
    }

}

@media screen and (min-width: 768px) { 

    input { 
        width: 650px;
    }

    button {
        width: 153px;
    }

    .spain-1 {
        position: relative;
    }

    .spain-1__box {
        position: absolute;
        left: 0;
    }
}


@media screen and (min-width: 1440px) {

    input {
        width: 650px;
    } 

    button {
        width: 153px;
    }

    .spain-1 {
        position: relative;
    }

    .spain-1__box {
        position: absolute;
        left: 0;
    }
}

*/